.Toolbar {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    
    color: red;
    font-size: 30px;
    background-color: rgb(241, 232, 232);
    box-shadow: 0 0 10px rgba(0, 0, 0, .5);
    position: sticky;
    top: 0;
    left: 0;
  }