.Toolbar{
  display: flex;
  justify-content: space-between;
  background-color:white;
  padding: 1px;
  font-family: 'Lora', serif;
  position: sticky;
  top:0;
  left:0;
  box-shadow: 0 0  14px rgb(48, 48, 255);
  
  z-index: 1;
}
@media (max-width: 549px) {
  .Toolbar nav {
    display: none;
  }
}