.FruitPreview {
  flex: 0 0 400px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.fruit {
  width: 400px;
  height: 400px;
  margin-right: 1rem;
  margin-bottom: 1rem;
  border-radius: 100%;
  background-color: #fc0000;

  display: flex;
  justify-content: center;
  align-items: center;
}
.ingredients {
  width: 380px;
  height: 380px;
  border-radius: 100%;
  position: relative;
}
.price {
  background-color: rgb(255, 0, 0);
  border-radius: 1rem;
  padding: 0 1rem;
  font-size: 1.5rem;
  color: white;
  font-weight: bold;
}