.FruitPreview {
  flex: 0 0 400px;
  height: 400px;
  margin-right: 1rem;
  margin-bottom: 1rem;
  border-radius: 20%;
  background-color: rgb(10, 155, 10);

  display: flex;
  justify-content: center;
  align-items: center;
}
.fruit {
  width: 350px;
  height: 350px;
  border-radius: 20%;
  background-color: rgb(19, 197, 19);
}