.Button {
    border: 0;
    margin: 0 .5rem;
    border-radius: 2rem;
    min-width: 2.5rem;
    min-height: 2.5rem;
    padding: 0 .7rem;
    background-color: rgba(0, 0, 255, 0.801);
    color: white;
    font-weight: bold;
    font-size: 1.5rem;
    cursor: pointer;
    transition: .4s;
    box-shadow: 0 0 10px  rgb(0, 217, 255);
    margin-top: 5px;
  }
  .Button:not(:disabled):hover {
    background-color:rgb(11, 229, 245);
  }
  .Button:focus {
    outline: none;
  }
  .Button:disabled {
    opacity: .6;
  } 

