.ToysControls{
  padding: 20px;
  width: 430px;
 height: 400px;
  border-radius: 5rem;
text-align: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-color:  rgba(230, 224, 224, 0.719);
color: blue;
font-size: 2rem;
text-shadow: 0 0 3rem pink;
}