.ToysControls{
  padding: 20px;
  width: 300px;
 height: 400px;
  border-radius: 2rem;
text-align: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-color: white;
color: blue;
font-size: 2rem;
text-shadow: 0 0 5px rgb(0, 217, 255);
box-shadow: 0 0 10px blue;

}