.Drawer .content {
  background-color: tomato;
  width: 250px;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  box-shadow: 0 0 10px rgba(0, 0, 0, .5);
}

.open {
  transform: translateX(0);
}
.closed {
  transform: translateX(-260px);
}

@media (min-width: 550px) {
  .Drawer {
    display: none;
  }
}