.Logo{
    display: flex;
    align-items: center;
    font-family: 'Quicksand', sans-serif;
    font-size: 28px;
    color: blue;
    font-weight: bold;
}
.Logo img{
    border-radius: 25px;
    width:70px;
    height: 70px;
    margin-right: .1rem;   
}
