.ToysControls{
  margin: 0 10px;
  padding: 20px;
  width: 300px;
 height: 415px;
  border-radius: 2rem;
text-align: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-color: white;
color: blue;
font-size: 2rem;
text-shadow: 0 0 5px rgb(0, 217, 255);
box-shadow: 0 0 10px blue;

}
Button {
  font-family: 'Lora', serif;
}
@media (max-width:680px){
  .ToysControls{
    width: 250px;
    min-height: 250px;
    background-color: white;
    margin-bottom: 1rem;
    box-shadow: 0 0 10px blue;
    border-radius: 2rem  ;
    padding: 20px;
    order: -1;
  }
}