.DrawerOpen {
  height: 3rem;
  padding: 1rem;
  display: flex;
  flex-flow: column;
  justify-content: center;
  margin-right: .5rem;
}
.DrawerOpen > div {
  height: 4px;
  width: 2.5rem;
  background-color:blue;
}
.DrawerOpen > div:not(:last-child) {
  margin-bottom: .5rem;
}

@media (min-width: 550px) {
  .DrawerOpen {
    display: none;
  }
}