.content {
    position: fixed;
    z-index: 6;
    background-color: white;
    box-shadow: 0 0 10px blue;
    width: 50%;
    height: 44%;
    left: 22%;
    top: 18%; 
    border-radius: 2rem;
    padding: 1rem 2rem;
    transition: transform .5s ease-out;
    color: blue;
    text-transform: capitalize;
  }
  @media (max-width:700px){
    .content {
      position: fixed;
      z-index: 6;
      background-color: white;
      box-shadow: 0 0 10px blue;
      width: 45%;
      height: 53.5%;
      left: 21%;
      top: 20%; 
      border-radius: 2rem;
      padding: 1rem 2rem;
      transition: transform .5s ease-out;
      color: blue;
      text-transform: capitalize;

  
    }
  }
  @media (max-width:700px){
    .Modal Button {
      margin-bottom: 10px;
      font-size: 1.2rem;
    }
    }