.Checkout {
  flex: 0 0 400px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0 20px;
  flex-direction: row;
  
}
@media (max-width:700px){
  .Checkout {
    flex: 0 0 300px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0 10px;
  }
  }