   .NavItem a {
    color: blue;
  text-shadow: 0 0 5px rgb(0, 217, 255);
    border-bottom: 10px solid transparent;
    text-decoration: none;
    display: block;
    padding: 1.6rem 2rem 1.2rem;
    transition: all .2s ease-in;
    font-size: 27px;
  }
  .NavItem a:hover {
    border-color: white;
    background-color: rgb(109, 191, 211);
  }
  .NavItem a:active{
    border-color: blue;
  }
  @media (max-width: 549px) {
    .NavItem a {
      border-bottom: none;
      border-right: 10px solid transparent;
    
    }
    .NavItem a:active{
      border-color: blue;
    }
 
  }
  
  @media (max-width: 549px) {
   
    .NavItem a:hover {
      
      background-color:rgb(109, 191, 211);
    }
  }