   .NavItem a {
    color: blue;
  text-shadow: 0 0 5px rgb(0, 217, 255);
    border-bottom: 10px solid transparent;
    text-decoration: none;
    display: block;
    padding: 1.6rem 2rem 1.2rem;
    transition: all .2s ease-in;
    font-size: 27px;
  }
  .NavItem a:hover {

    background-color: rgb(109, 191, 211);
    box-shadow: 0 0 5px rgba(0, 0, 255, 0.575);
    border-radius: 1rem;
  }
  .NavItem a:active,
  .NavItem a.active {
    
    box-shadow: 0 0 5px rgba(0, 0, 255, 0.575);
    border-radius: 1rem;
    
  }
  @media (max-width: 700px) {
    .NavItem a {
      border-bottom: none;
      border-right: 10px solid transparent;
    
    }
    .NavItem a:active{
    box-shadow: 0 0 5px rgba(0, 0, 255, 0.575);
    border-radius: 1rem;
    }
 
  }
  
  @media (max-width:700px) {
   
    .NavItem a:hover {
      box-shadow: 0 0 5px rgba(0, 0, 255, 0.575);
      border-radius: 1rem;
      background-color:rgb(109, 191, 211);
    }
  }