.ToysPreview {
  flex: 0 0 400px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
margin: 0 10px;
}
.name{
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}
.color{
  width: 460px;
  min-height: 400px;
  background-color: white;
  margin-bottom: 1rem;
  box-shadow: 0 0 10px blue;
  border-radius: 2rem  ;
  padding: 20px;
}

.price {
  box-shadow: 0 0 10px blue;
 background-color: white;
  border-radius: 2.5rem;
  padding: 0 4rem;
  cursor: pointer;
  color: blue;
  text-shadow: 0 0 5px rgb(0, 217, 255);
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 1rem;
}
a:focus {
  outline: none;
}
@media (max-width:630px){
  .color{
    width: 400px;
    min-height: 400px;
    background-color: white;
    margin-bottom: 1rem;
    box-shadow: 0 0 10px blue;
    border-radius: 2rem  ;
    padding: 20px;
   
  }
}
